.app{
  background-color: rgb(46, 128, 117);
  padding: 20px;
  max-width: 700px;
  margin: auto;
  width: 100vw;
  height: 100vh;
}

.navbar{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #d1d1d5;
  border-radius: 8px;
  margin-bottom: 20px
}

.yettoreceive{
  color: rgb(181, 4, 4);
}

.input{
  width: 95%;
  padding: 10px;
  background-color: #d1d1d5;
}
